#bg-img {
    background-image: url(./images/njdevils.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.choices-buttons {
    font-size: 20px;
    font-weight: bold;
    width: 25%;
}

#go-back {
    margin-top: 40px;
    text-decoration: none;
}

.mc-buttons {
    
}